<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>AnimeFriends</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  </head>
  <body>
<nav class= "orange darken-2">
    <div class="nav-wrapper container= 2">
      <a href="#" class="brand-logo right">Anime Friends</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">My Profile</a></li>
        <li><a href="badges.html">My Friends</a></li>
        <li><a href="collapsible.html">Find Friends</a></li>
      </ul>
    </div>
  </nav>


   
        <%= yield %>

    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
      <footer class="branding">
        <small>&copy; 2021 <strong>AnimeFriends</strong></small>
      </footer>
    </div>

  </body>
</html>
