<br>
<br>
<br>
<center>
<h2>What is Your Name?</h2>
</center>
<br>

<form action="/profile" method= "POST">

        <div class="input-field col s6 container ">
          <input id="user_name" type="text" class="validate">
          <label for="user_name">your name</label>
        </div>
        <center>
        <input type="submit" value="next" class= orange>
</form>

